@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap);

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.big-heading {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 25px 50px;
}

.user-info {
    position: absolute;
    /* top: 2vw; */
    right: 2vw;
    text-align: right;
    padding-right: 10px;
    font-size: x-large;
}

.message {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    padding: 25px 50px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: sans-serif;
    font-size: x-large;
    padding: 25px 50px;
}

.error {
    color: red;
}

.list {
    padding: 3px;
}

.list-link {
    text-decoration: underline;
    color: blue;
}

.list-link:hover {
    background-color: lightgray;
    text-decoration: none;
}

th {
    font-weight: normal;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-size: x-large;
    padding: 3px;
}

input {
    font-size: x-large;
    width: 300px;
}

div,
form {
    padding: 4px;
}

.blue-background {
    background-color: lightblue;
}

.navlink {
    background-color: lightgray;
}

.letter {
    padding: 3px;
    font-family: sans-serif;
    font-size: x-large;

}

.letter:hover {
    background-color: lightgray;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: medium;
    border: none;
}

.dropdown {
    text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 1vh;
    background-color: #f1f1f1;
    min-width: 15vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: right;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.search-bar {
    width: 85%;
    /* reduce width to make room for button */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: medium;
}

.search-button {
    width: 10%;
    /* assign width to button */
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    text-align: center;
    /* center the button text */
}

.music-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.play-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-btn:hover {
    background-color: #555;
}

.fav-btn {
    /* background-color: #6b2cea; */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}


.music-details {
    flex-grow: 1;
    margin-left: 20px;
}

.music-title {
    font-size: large;
    font-weight: bold;
}

.music-artist {
    font-size: medium;
    color: #666;
}

.play-status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(75deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
    background-size: 600% 100%;
    -webkit-animation: gradient 16s linear infinite;
    animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    display: none;
    font-size: 1em;
    font-family: Comfortaa, cursive;
}



.play-status-bar p {
    margin: 0;
    font-size: 1em;
    font-family: Comfortaa, cursive;
    color: white;
    mix-blend-mode: difference;
}

.card {
    font-family: Comfortaa, cursive;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid hsla(0, 0%, 76.9%, .3);
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(75deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
    background-size: 600% 100%;
    -webkit-animation: gradient 16s linear infinite;
    animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.form-error {
    color: white;
    margin-left: 10px;
}

#play-pause-button {
    border: none;
    /* padding: 10px; */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    width: 80px;
    height: 80px;
}

#play-pause-button.play {
    background: url('../images/play_icon.png') no-repeat center center;
    background-size: 50%;
}

#play-pause-button.pause {
    background: url('../images/pause_icon.png') no-repeat center center;
    background-size: 50%;
}

#progress-bar {
    width: 60%;
    height: 4px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
}

#progress-bar::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
}

.music-card {
    width: 23%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.music-card img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.music-card .music-info {
    padding: 0px;
}

.music-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

nav {
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(75deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
    background-size: 600% 100%;
    -webkit-animation: gradient 16s linear infinite;
    animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown img {
    border-radius: 50%;
    height: 2em;
}

.main-content {
    padding-top: 3.75rem;
    padding-bottom: 5rem;
}