<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'musicplay/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ListenTogether/css/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'images/tab_icon.jpg' %}" type="image/x-icon">

    <title> {% block title %} MelodyHub {% endblock %} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {% if user.is_authenticated %}
    <nav
        style="font-family: Comfortaa, cursive; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
        <div>
            <!-- {{ request.session.title }}  -->
            <a href="{% url 'musicplay:home' %}" class="btn btn-dark" role="button">Home</a>
            <a href="{% url 'musicplay:listen_together' %}" class="btn btn-dark" role="button">ListenTogether</a>
            <a href="{% url 'musicplay:favorite_playlist' %}" class="btn btn-dark">
                Favorite Songs</a>
            <a href="{% url 'musicplay:recent_playlist' %}" class="btn btn-dark">Recently
                Played Songs</a>
        </div>

        <div class="user-info">
            <div class="dropdown">
                <img style="border-radius: 50%; height: 2em;" src="{{ request.session.picture }}"
                    alt="User profile picture">
                <div class="dropdown-content">
                    {{ user.username }}<br>
                    <a href="{% url 'musicplay:my_profile' %}">My Profile</a><br>
                    <a href="{% url 'musicplay:logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>

    <!-- {% if message %}
    <div class="message">
        {{message}}
    </div>
    {% endif %} -->

    <div class="main-content">
        {% block content %}
        {% endblock %}
        <footer style="text-align: center; font-family:Comfortaa,cursive;"> <small>Copyright &copy; 2024 <a href="https://github.com/unw9527"
                    target="_blank">Kunle
                    Li</a>,
                Fulun Ma
                and <a href="https://github.com/Aaalan-Zhang" target="_blank">Chenglin Zhang</a>
                (alphabetical order). All rights reserved. <br> Audios on this website are for educational purposes only.</small> </footer>
    </div>

</body>

</html>