{% extends "musicplay/base.html" %}

{% block content %}
<!-- <div style="font-family:Comfortaa,cursive; display: flex; justify-content: center;">
    <li class="navbar"><a href="{% url 'musicplay:listen_together' %}" class="btn btn-dark"
            role="button">ListenTogether</a></li>
</div> -->
<div style="font-family:Comfortaa,cursive; display: flex; justify-content: center; padding-top: 25px">
    <h1>Welcome to MelodyHub</h1>
</div>
<div class="container">
    <form method="GET" action=".">
        <div class="search-container">
            <input type="text" name="q" class="search-bar" placeholder="Search Music...">
            <button type="submit" class="search-button">Search</button>
        </div>
    </form>

    <h4>All Songs</h4>
    <br>
    <a href="{% url 'musicplay:playlist_detail' favorite_playlist.id %}" class="favoriteMusicBtn">Show Favorite
        Songs</a> <br><br>

    <a href="{% url 'musicplay:playlist_detail' recent_playlist.id %}" class="favoriteMusicBtn">Show Recent Played
        Songs</a> <br><br>

    <!-- <ul class="music-list">
        {% for song in songs %}
        <li>
            <span class="music-details">
                <div class="music-title">{{ song.name }}</div>
                <div class="music-artist">{{ song.singer }}</div>
            </span>
            <button class="fav-btn" data-user-id="{{ user_id }}" data-music-id="{{ song.id }}">🤍</button>
            <button class="play-btn" data-src="{{ song.file.url }}">▶</button>
        </li>
        {% endfor %}
    </ul> -->
    <div class="music-list">
        {% for song in songs %}
        <div class="music-card">
            <img src="{{ song.image.url }}" alt="Music image">
            <div class="music-info">
                <span class="music-details">
                    <div class="music-title">{{ song.name }}</div>
                    <div class="music-artist">{{ song.singer }}</div>
                </span>
                <button class="fav-btn" data-user-id="{{ user_id }}" data-music-id="{{ song.id }}">🤍</button>
                <button class="play-btn" data-src="{{ song.file.url }}" data-user-id="{{ user_id }}" data-music-id="{{ song.id }}">▶</button>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<div class="play-status-bar" id="play-status-bar">
    <p>Now Playing: <span id="currentSong">Song Name - Artist</span></p>
    <audio id="audio-player" controls style="display: none;"></audio>

    <div id="custom-controls">
        <button id="play-pause-button" class="play"></button>
        <input id="progress-bar" type="range" min="0" max="100" value="0">
        <span id="current-time">00:00</span> / <span id="total-time">00:00</span>
    </div>
</div>

{% load static %}
<script src="{% static 'musicplay/js/audio_play.js' %}"></script>
<script src="{% static 'musicplay/js/fav_button.js' %}"></script>
<script src="{% static 'musicplay/js/play_status_bar.js' %}"></script>

{% endblock %}