{% extends "musicplay/base.html" %}

{% block content %}
<div style="font-family:Comfortaa,cursive; display: flex; justify-content: center;">
    <li class="navbar"><a href="{% url 'musicplay:listen_together' %}" class="btn btn-dark"
            role="button">ListenTogether</a></li>
</div>
<div class="container">
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search Music...">
        <button class="search-button">Search</button>
    </div>

    <!-- <div class="favorite-songs">
        <h4>Recently Uploaded Songs</h4>
        <ul class="music-list">
            <li>
                <span class="music-details">
                    <div class="music-title">Recent Song 1</div>
                    <div class="music-artist">Artist 1</div>
                </span>
                <button class="fav-btn">🤍</button>
                <button class="play-btn">▶</button>
            </li>
        </ul>
    </div> -->
    <h4>All Songs</h4>
    <button class="favoriteMusicBtn">Show Favorite Songs</button>

    <ul class="music-list">
        {% for song in all_music %}
        <li>
            <span class="music-details">
                <div class="music-title">{{ song.name }}</div>
                <div class="music-artist">{{ song.user.username }}</div>
            </span>
            <button class="fav-btn">🤍</button>
            <button class="play-btn" data-src="{{ song.file.url }}">▶</button>
        </li>
        {% endfor %}
    </ul>

</div>
<div class="play-status-bar">
    <p><strong>Now Playing:</strong> <span id="currentSong">Song Name - Artist</span></p>
    <audio id="audio-player" controls></audio>
</div>
{% load static %}
<script src="{% static 'musicplay/js/audio_play.js' %}"></script>
{% endblock %}