{% extends "musicplay/base.html" %}

{% block content %}
<div class="page-title">
    <h1>My Profile Page</h1>
</div>
<div class="container" style="font-family:Comfortaa,cursive;">
    <div class="bg-picture">
        <div class="profile-info">
            <br>
            <div class="row">
                <div class="col-5">
                    <img src="{{ user_profile.avatar.url }}" class="img-fluid img-thumbnail rectangle"
                        alt="User profile picture" style="width: 200px; height: 180px;">
                </div>
                <div class="col-6">
                    <h2 class="text-light">{{user.first_name}} {{user.last_name}}</h2>
                    <p class="text-light" style="margin-top: 1.5em;">Joined: {{ user_profile.registration_time|date:"M d, Y" }}</p>
                    <p class="text-light" style="margin-top: 1em;">Total Favorites: {{ user_profile.total_favorites }}</p>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'musicplay:update_profile' %}">
                {% csrf_token %}
                <div class="text-light">
                    <div class="form-field" style="margin-bottom: 1em;">
                        New Avatar: 
                        <span style="margin-left: 13px;">{{ profile_form.avatar }}</span>
                        {% if profile_form.avatar.errors %}
                            <span class="form-error">{{ profile_form.avatar.errors.as_text }}</span>
                        {% endif %}
                    </div>
                    <div class="form-field">
                        Description:
                        <span style="margin-left: 10px;">{{ profile_form.description }}</span>
                        {% if profile_form.description.errors %}
                            <span class="form-error">{{ profile_form.description.errors.as_text }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="submit-button">
                    <button type="submit" class="btn btn-light">Update Profile</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <h3>Uploaded Tracks</h3>
    <div class="uploaded-music">
        <div class="list-group">
            {% if musics %}
            {% for song in musics %}
            <a href="{% url 'musicplay:music_detail' song.id %}"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">{{ song.name }} <small class="ml-2">{{ song.singer }}</small></h5>
                    <small>Uploaded Time: {{ song.upload_time|date:"M d, Y" }}</small>
                </div>
                <small class="ml-2">{{ song.description }}</small><br />
                <small class="ml-2">Favorites: {{ song.favorites_count }}</small>
                <form style="text-align: right;" action="{% url 'musicplay:delete_music' song.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </a>
            <br>
            {% endfor %}
            {% else %}
            <p>Your track list looks a little quiet. Start the vibes by uploading your first track!</p>
            {% endif %}
        </div>
    </div>

    <h3>Upload New Track</h3>
    <form style="height: 390px;" class='card p-1' method="post" enctype="multipart/form-data"
        action="{% url 'musicplay:upload_music' %}">
        <div class="card-body">
            {% csrf_token %}

            <div class="form-field">
                {{ music_upload_form.name.label_tag }} 
                <span style="margin-left: 60px;">{{ music_upload_form.name }}</span>
                {% if music_upload_form.name.errors %}
                    <span class="form-error">{{ music_upload_form.name.errors.as_text }}</span>
                {% endif %}
            </div>
                <div class="form-field">
                    {{ music_upload_form.image.label_tag }} 
                    <span style="margin-left: 58px;">{{ music_upload_form.image }}</span> 
                    {% if music_upload_form.image.errors %}
                        <span class="form-error">{{ music_upload_form.image.errors.as_text }}</span>
                    {% endif %}
                </div>
            <div class="form-field">
                {{ music_upload_form.singer.label_tag }} 
                <span style="margin-left: 55px;">{{ music_upload_form.singer }}</span>
                {% if music_upload_form.singer.errors %}
                    <span class="form-error">{{ music_upload_form.singer.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-field">
                {{ music_upload_form.description.label_tag }}
                <span style="margin-left: 13px;">{{ music_upload_form.description }}</span>
                {% if music_upload_form.description.errors %}
                    <span class="form-error">{{ music_upload_form.description.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-field">
                {{ music_upload_form.file.label_tag }}
                <span style="margin-left: 82px;">{{ music_upload_form.file }}</span>
                {% if music_upload_form.file.errors %}
                    <span class="form-error">{{ music_upload_form.file.errors.as_text }}</span>
                {% endif %}
            </div>

            <br>
            <div class="submit-button">
                <button type="submit" class="btn btn-dark">Upload Music</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}