{% extends "musicplay/base.html" %}

{% block content %}
<div class="container" style="font-family:Comfortaa,cursive;">
    <div style="display: flex; justify-content: center; background-image: url('/media/background/bg3.jpg');
    height: 450px; width: 1100px; background-size: cover; background-position: center;">
        <div class="profile-info">
            <br>
            <div class="row">
                <div class="col-5">
                    <img src="{{ user_profile.avatar.url }}" class="img-fluid img-thumbnail rectangle"
                        alt="User profile picture" style="width: 200px; height: 180px;">
                </div>
                <div class="col-6">
                    <h2 class="text-light">{{user.first_name}} {{user.last_name}}</h2>
                    <p class="text-light">Joined: {{ user_profile.registration_time|date:"M d, Y" }}</p>
                    <p class="text-light">Total Favorites: {{ user_profile.total_favorites }}</p>
                    <p class="text-light">Total Not Favorites: {{ user_profile.total_not_favorites }}</p>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'musicplay:upload_profile' %}">
                {% csrf_token %}
                <div class="text-light">
                    {{ profile_form.as_p }}
                </div>
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-dark">Update Profile</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <h3>Uploaded Tracks</h3>
    <div class="uploaded-music">
        <div class="list-group">
            {% if music %}
            {% for song in music %}
            <a href="{% url 'musicplay:music_detail' song.id %}"
                class="list-group-item list-group-item-action flex-column align-items-start"
                style="margin-bottom: 1em;">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">{{ song.name }} <small class="ml-2">{{ song.singer }}</small></h5>
                    <small>Uploaded Time: {{ song.upload_time|date:"M d, Y" }}</small>
                </div>
                <small class="ml-2">Description: {{ song.description }}</small><br />
                <small class="ml-2">Favorites: {{ song.favorites_count }}, Not Favorites: {{song.not_favorites_count}}</small>
            </a>
            <form action="{% url 'musicplay:delete_music' song.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endfor %}
            {% else %}
            <p>Your track list looks a little quiet. Start the vibes by uploading your first track!</p>
            {% endif %}
        </div>
    </div>

    <br>
    <h3>Upload New Track</h3>
    <form style="height: 370px;" class='card p-1' method="post" enctype="multipart/form-data"
        action="{% url 'musicplay:upload_music' %}">
        <div class="card-body">
            {% csrf_token %}
            <div
                style="display: grid; grid-template-columns: repeat(2, minmax(100px, auto)); align-items: center; gap: 10px;">
                {{ music_upload_form.as_table }}
            </div>
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-dark">Upload Music</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}