{% extends "musicplay/base.html" %}

{% block content %}

<div class="container">
    <h1>{{ playlist.name }}</h1>
    {% if playlist.picture %}
    <img src="{{ playlist.picture.url }}" alt="Playlist picture">
    {% endif %}
    <p class="blockquote-footer" style="font-size: 25px;">{{ playlist.description }}</p>

    {% if musics %}
    {% for song in musics %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between align-items-center custom-flex">
            <div class="d-flex">
                <img src="{{ song.image.url }}" alt="Music image" style="height: 80px; width: 80px;">
                <h5 class="mb-1" style="margin-left: 10px;">
                    <a class="music-title" href="{% url 'musicplay:music_detail' song.id %}" style="color: black;">
                        {{ song.name }}</a>
                    <small class="ml-2 music-artist">{{ song.singer }}</small>
                    <div><small>{{ song.description }}</small></div>
                </h5>
            </div>
            <div>
                <button class="fav-btn rectangle-button" data-user-id="{{ user_id }}" data-music-id="{{ song.id }}"
                    style="margin-right: 10px;">🤍</button>
                <button class="play-btn rectangle-button" data-src="{{ song.file.url }}" data-user-id="{{ user_id }}"
                    data-music-id="{{ song.id }}" data-cover="{{ song.image.url }}">▶</button>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <div class="card p-1">
        <p>This playlist has no tracks.</p>
    </div>
    {% endif %}
</div>
</div>

<div class="play-status-bar" id="play-status-bar">
    <p>Now Playing: <span id="currentSong">Song Name - Artist</span></p>
    <audio id="audio-player" controls style="display: none;"></audio>

    <div class="custom-controls" id="custom-controls">
        <img id="music-cover" src="" alt="Music cover">
        <button id="play-pause-button" class="play"></button>
        <input id="progress-bar" type="range" min="0" max="100" value="0">
        <div id="music-time"><span id="current-time">00:00</span> / <span id="total-time">00:00</span></div>
        <div id="volume-icon" class="volume-on">🔊</div>
        <input id="volume-control" type="range" min="0" max="1" step="0.01" value="1">
    </div>
</div>

{% load static %}
<script src="{% static 'musicplay/js/fav_button.js' %}"></script>
<script src="{% static 'musicplay/js/play_status_bar.js' %}"></script>
<script src="{% static 'musicplay/js/audio_play.js' %}"></script>

{% endblock %}