{% extends "musicplay/base.html" %}

{% block content %}

<div class="container">
    <h1>{{ playlist.name }}</h1>
    {% if playlist.picture %}
    <img src="{{ playlist.picture.url }}" alt="Playlist picture">
    {% endif %}
    <p class="blockquote-footer" style="font-size: 25px;">{{ playlist.description }}</p>
    <div class="card p-1">
        {% if musics %}
        <ul class="music-list">
            {% for music in musics %}
            <li>
                <span class="music-details">
                    <div class="music-title">{{ music.name }}</div>
                    <div class="music-artist">{{ music.user.username }}</div>
                </span>
                <button class="fav-btn">🤍</button>
                <button class="play-btn" data-src="{{ music.file.url }}">▶</button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>This playlist has no tracks.</p>
        {% endif %}
    </div>
</div>
{% endblock %}