{% extends 'musicplay/base.html' %}
{% block content %}
{% load static %}
<div style="font-family:Comfortaa,cursive; display: flex; justify-content: center;">
    <h1>Join MelodyHub</h1>
</div>
<div>
    <div class="card" style="width: 60%; height: 80%; margin: 0 auto;">
        <form method="POST">
            {% csrf_token %}
            <div style="display: grid; grid-template-columns: 100px auto; align-items: center; gap: 10px;">
                <div>Username:</div>
                <div>{{ form.username }}</div>
            </div>
            <div style="display: grid; grid-template-columns: 100px auto; align-items: center; gap: 10px;">
                <div>Password:</div>
                <div>{{ form.password1 }}</div>
            </div>
            <div style="display: grid; grid-template-columns: 100px auto; align-items: center; gap: 10px;">
                <div>Confirm Password:</div>
                <div>{{ form.password2 }}</div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input type="submit" class="btn btn-dark" value="Sign up">
            </div>
        </form>
    </div>
</div><br>
<div style="font-family:Comfortaa,cursive; display: flex; justify-content: center;">
    <div>
        Already have an account? <a href="{% url 'musicplay:login' %}">Sign in</a>
    </div>
</div>

{% if error %}
<div style="font-family:Comfortaa,cursive; color: rgb(0, 0, 0); display: flex; justify-content: center;">
    {{error}}
</div>
{% endif %}
{% endblock %}
