{% extends '../musicplay/base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'ListenTogether/js/WebSocket.js' %}" type="text/javascript"></script>
<div class="content">
    <div class="card">
        <audio controls autoplay controller class="audio audio-control" data-isHost="{{ isHost }}" id="music-bar" src="/media/audio/Mystery_of_Love.mp3"></audio>
        {% if not isHost %}
        <button type="button" class="btn btn-dark" onclick=start_playing(this)>Start Listening</button>
        {% endif %}
    </div>

</div>
{% endblock%}
